<mat-card class="mat-card-colored" flex>
    <mat-card-content class="text-center">
        <div class="mat-headline">{{ '324523' | digits}}
            <mat-icon class="tc-green-500 text-sm">arrow_upward</mat-icon>
        </div>
        <mat-icon class="icon tc-cyan-700">receipt</mat-icon>
        <div layout="column">
            <div class="mat-subhead">Pages Viewed</div>
            <div class="mat-caption tc-grey-600">updated {{ '2016-07-13 09:59:59' | timeAgo
                }}
            </div>
        </div>
    </mat-card-content>
</mat-card>
