<div class="mat-content" flex mat-scroll-y>
    <div layout="row" class="inset">
        <ngx-charts-number-card
            [scheme]="colorScheme"
            [results]="single"
            [valueFormatting]="dollarValueFormat">
        </ngx-charts-number-card>
    </div>
    <div layout="column" layout-gt-sm="row" class="inset">
        <div flex-gt-sm="60">
            <app-project-status></app-project-status>
            <div layout="row">
                <div flex="33" layout="column">
                    <app-project-users></app-project-users>
                </div>
                <div flex="33" layout="column">
                    <app-project-disk-usage></app-project-disk-usage>
                </div>
                <div flex="33" layout="column">
                    <app-project-pages-viewed></app-project-pages-viewed>
                </div>
            </div>
            <app-user-activities></app-user-activities>
        </div>
        <div flex-gt-sm="40">
            <app-dashboard-alerts></app-dashboard-alerts>
            <app-dashboard-favorites></app-dashboard-favorites>
        </div>
    </div>
</div>
