<mat-card>
    <mat-card-title>Users Activities</mat-card-title>
    <mat-card-subtitle>Recent activity from select users</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-nav-list class="will-load item-list">
        <ng-template tdLoading="items.load">
            <ng-template let-item let-last="last" ngFor [ngForOf]="items">
                <a mat-list-item layout-align="row" [routerLink]="['../item', item.item_id]">
                    <mat-icon mat-list-avatar> {{item.icon}}</mat-icon>
                    <h3 mat-line> {{item.name}} </h3>
                    <p mat-line> {{item.description | truncate:50 }} </p>
                    <span flex></span>
                    <span class="mat-caption text-right"
                          flex="20"> {{item.created | timeAgo }} </span>
                </a>
                <mat-divider *ngIf="!last" mat-inset></mat-divider>
            </ng-template>
        </ng-template>
    </mat-nav-list>
</mat-card>
